// 日間模式
$primary: #2f419b !default;
$title: #555555 !default;
$content: #666666 !default;
$bk_1: #F4F6F7 !default;
$side: #E9EBF4 !default;
$border_color: #BDBDBD;
$content_invert: #ffffff;
// 夜間模式
$moonMain: #FED32C;
$moonTitle: #ffffff;
$moonContent: #F2F2F2;
$moon_bk1: #26252A;
$moon_bk2: #343338;
$moon_content_invert: #333333;